<!-- dashboard.handlebars -->
<div class="container">
    <h2>Your Dashboard</h2>

    {{#if posts.length}}
        <ul>
            {{#each posts}}
                <li>
                    <h3>{{this.title}}</h3>
                    <p>{{this.content}}</p>
                    <a href="/dashboard/edit/{{this.id}}">Edit</a> | <a href="/api/posts/delete/{{this.id}}">Delete</a>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>You haven't created any posts yet.</p>
    {{/if}}

    <a href="/dashboard/new">Create New Post</a>
</div>
